<div class="container-fluid p-0 d-flex fill" id="head">
    <div class="container text-white my-auto" id="headContent">
      <h2 class="title font-weight-bold">RUNNER'S HUB</h2>
      <h2 class="mt-5">Looking for a delivery??</h2>
    </div>
</div>