<div class="container mt-5 p-5 border">
    <h2 class="text-center">Open Delivery Request</h2>
    <p class="text-center">Job List</p>
    <div class="row">
  
      <div class="col-sm-12">
                 
        <div class="divTable">
          <div class="divTableBody">
  
            <div class="divTableRow">
              <div class="divTableCell font-weight-bold">&nbsp;</div>
              <div class="divTableCell font-weight-bold">&nbsp;</div>
            </div>
  
            <div class="divTableRow">
                <div class="divTableCell">User 1</div>
                <div class="divTableCell">
                  <small>Item Pick-up: abc street 123</small> <br>
                  <small>Item Delivery: def street 456</small>
                </div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                  
            <div class="divTableRow">
                <div class="divTableCell">User 2</div>
                <div class="divTableCell">
                  <small>Item Pick-up: abc street 123</small> <br>
                  <small>Item Delivery: def street 456</small>
                </div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                        
            <div class="divTableRow">
                <div class="divTableCell">User 3</div>
                <div class="divTableCell">
                  <small>Item Pick-up: abc street 123</small> <br>
                  <small>Item Delivery: def street 456</small>
                </div>
                <div class="divTableCell border"><button>detail</button></div>
            </div>            
  
          </div>
        </div>
  
      </div>
  
    </div>
</div>