<div class="container mt-5 p-5 border">
    <h2 class="text-center">Open Delivery Request</h2>
    <p class="text-center">Job List</p>
    <div class="row">
  
      <div class="col-sm-12">
                 
        <div class="divTable">
          <div class="divTableBody">
  
            <div class="divTableRow">
              <div class="divTableCell font-weight-bold">&nbsp;</div>
              <div class="divTableCell font-weight-bold">&nbsp;</div>
            </div>
  
            <div class="divTableRow">
                <div class="divTableCell">User 1</div>
                <div class="divTableCell">
                  <small>Item Pick-up: abc street 123</small> <br>
                  <small>Item Delivery: def street 456</small>
                </div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                  
            <div class="divTableRow">
                <div class="divTableCell">User 1</div>
                <div class="divTableCell">
                  <small>Item Pick-up: abc street 123</small> <br>
                  <small>Item Delivery: def street 456</small>
                </div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                        
            <div class="divTableRow">
                <div class="divTableCell border">User 1</div>
                <div class="divTableCell border">
                  <small>Item Pick-up: abc street 123</small> <br>
                  <small>Item Delivery: def street 456</small>
                </div>
                <div class="divTableCell border"><button>detail</button></div>
            </div>            
  
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
  <div class="container mt-5 p-5 border">
    <h2 class="text-center">Today's List</h2>
    <p class="text-center">To do List</p>
    <div class="row">
      
      <div class="col-sm-12">
        <div class="divTable">
          <div class="divTableBody">
  
            <div class="divTableRow">
              <div class="divTableCell font-weight-bold">&nbsp;</div>
              <div class="divTableCell font-weight-bold">&nbsp;</div>
            </div>
  
            <div class="divTableRow">
              <div class="divTableCell "><p class="my-5">Item 1</p></div>
                <div class="divTableCell">
                  <p>Delivery Date:...</p>
                  <p>Deliver to:...</p>
                  <button class="btn">
                    <i class="fas fa-info-circle"></i>
                  </button>
                </div>
                <div class="divTableCell">
                  <button class="btn mt-3">
                    <i class="fas fa-check"></i> 
                  </button>
                  <button class="btn mt-3">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
                  
            <div class="divTableRow">
                <div class="divTableCell"><p class="my-5">Item 2</p></div>
                <div class="divTableCell">
                  <p>Delivery Date:...</p>
                  <p>Deliver to:...</p>
                  <button class="btn">
                    <i class="fas fa-info-circle"></i>
                  </button>
                </div>
                <div class="divTableCell">
                  <button class="btn mt-3">
                    <i class="fas fa-check"></i> 
                  </button>
                  <button class="btn mt-3">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
                        
            <div class="divTableRow">
                <div class="divTableCell"><p class="my-5">Item 3</p></div>
                <div class="divTableCell">
                  <p>Delivery Date:...</p>
                  <p>Deliver to:...</p>
                  <button class="btn">
                    <i class="fas fa-info-circle"></i>
                  </button>
                </div>
                <div class="divTableCell">
                  <button class="btn mt-3">
                    <i class="fas fa-check"></i> 
                  </button>
                  <button class="btn mt-3">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
            
            <div class="divTableRow">
                <div class="divTableCell"><p class="my-5">Item 4</p></div>
                <div class="divTableCell">
                  <p>Delivery Date:...</p>
                  <p>Deliver to:...</p>
                  <button class="btn">
                    <i class="fas fa-info-circle"></i>
                  </button>
                </div>
                <div class="divTableCell">
                  <button class="btn mt-3">
                    <i class="fas fa-check"></i> 
                  </button>
                  <button class="btn mt-3">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
  
          </div>
        </div> 
      </div>
    </div>
      <!--<button class="btn ml-auto">History</button>
      <button class="btn ml-auto">Clear List</button>-->
    </div>
  </div>