<div class="container mt-5 p-5 border">
    <div class="row">
      
        <div class="col-sm-12 border p-5">
            <p class="text-center">Delivery Request</p>
    
            <div class="divTable">
                <div class="divTableBody">
        
                    <div class="divTableRow">
                        <div class="divTableCell"> user-name</div>
                        <div class="divTableCell"><button class="btn btn-info">detail</button></div>
                    </div>
                                
                    <div class="divTableRow">
                        <div class="divTableCell"> user-name</div>
                        <div class="divTableCell"><button class="btn btn-info">detail</button></div>
                    </div>
                                
                    <div class="divTableRow">
                        <div class="divTableCell"> user-name</div>
                        <div class="divTableCell"><button class="btn btn-info">detail</button></div>
                    </div>
                                
                    <div class="divTableRow">
                        <div class="divTableCell"> user-name</div>
                        <div class="divTableCell"><button class="btn btn-info">detail</button></div>
                    </div>  
                        
                </div>
            </div>

        </div>

    </div>
</div>