//USER MAKING AN OPEN REQUEST FOR ALL THE RUNNERS

<div class="container my-5 p-5">
    <h2 class="para text-center"></h2>
    <p class="text-center" id="para-runner">This will be seen by the specific runner</p>
    <form>
        
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="deli-date">Delivery Date</label>
            <input type="date" class="form-control" id="deli_date" name="deli-date" placeholder="Date">
        </div>

        <div class="form-group">
            <label for="deli-time">Delivery Time</label>
            <input type="time" class="form-control" id="deli_time" name="deli-time" placeholder="Time">
        </div>
        
        <div class="form-group">
            <label for="Pickup_Address">Pick-up Address</label>
            <input type="text" class="form-control" id="Pickup_Address" name="Pickup_Address" placeholder="Pick-up Address">
        </div>

        <div class="form-group">
            <label for="Delivery_Address">Delivery Address</label>
            <input type="text" class="form-control" id="Delivery_Address" name="Delivery_Address" placeholder="Delivery Address">
        </div>
        
        <div class="form-group">
            <label for="-">Item Status</label><br>
            <div class="container d-inline">
              <div class="form-check">
              <input class="form-check-input" type="radio" name="radioStatus" id="radioPaid" value="Paid">
              <label class="form-check-label" for="radioPaid">
                Paid
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radioStatus" id="radioPaidRunner" value="Not Paid (Paid by Runner)" checked>
              <label class="form-check-label" for="radioPaidRunner">
                Not Paid (Paid by Runner)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radioStatus" id="radioPaidLater" value="Not Paid (Paid Later)" checked>
              <label class="form-check-label" for="radioPaidLater">
                Not Paid (Paid Later)
              </label>
            </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="w-100 form-control" id="message" name="message" placeholder="Please enter intsruction, if required."></textarea>
        </div>

        <div class="form-group">
            <input type="hidden" id="orderStatus" name="orderStatus" value="Private">
        </div>

        <button type="submit" class="btn btn-info">Post</button>
    </form>
    
</div>