<!--USER MAKING AN OPEN REQUEST FOR ALL THE RUNNERS-->

<div class="container my-5 p-5">
    <h2 class="para text-center">MAKE A REQUEST</h2>
    <p class="text-center" id="para-runner">This will be seen by all runners</p>
    
    <form id="openOrderForm" method="POST" action="/dashboard">
        
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= username %>" readonly="readonly">
        </div>

        <div class="form-group">
            <label for="deli-date">Delivery Date</label>
            <input type="date" class="form-control" id="deli_date" name="deli-date" placeholder="Date" required>
        </div>

        <div class="form-group">
            <label for="deli-time">Delivery Time</label>
            <input type="time" class="form-control" id="deli_time" name="deli-time" placeholder="Time" required>
        </div>
        
        <div class="form-group">
            <label for="Pickup_Address">Pick-up Address</label>
            <input type="text" class="form-control" id="Pickup_Address" name="Pickup_Address" placeholder="Pick-up Address" required>
        </div>

        <div class="form-group">
            <label for="Delivery_Address">Delivery Address</label>
            <input type="text" class="form-control" id="Delivery_Address" name="Delivery_Address" placeholder="Delivery Address" required>
        </div>
        
        <div class="form-group">
            <label for="-">Item Status</label><br>

            <label class="radio-inline"><input type="radio" name="item_stat" id="paid" value="Paid" checked>&nbsp; Paid</label>

            <label class="radio-inline"><input type="radio" name="item_stat" id="notPaid-runner" value="Not Paid (Paid by Runner)">&nbsp; Not Paid (Paid by Runner)</label>

            <label class="radio-inline"><input type="radio" name="item_stat" id="notPaid-later" value="Not Paid (Paid Later)">&nbsp; Not Paid (Paid Later)</label> 
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" value="<%= phone %>" readonly="readonly">
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="w-100 form-control" id="message" name="message" placeholder="Please enter intsruction, if required." required></textarea>
        </div>

        <div class="form-group">
            <input type="hidden" id="orderStatus" name="orderStatus" value="Open">
        </div>
        <input type="hidden" name="formMethod" value="openRequest">
        <button type="submit" class="btn detail-btn" id="addOpenPost">Post</button>

    </form>
    
</div>