<div class="container mt-5 p-5 border">
    <div class="row">
      
      <div class="col-sm-8 border p-5">
        <p class="text-center">Top Runners</p>
        <div class="divTable">
          <div class="divTableBody">
  
            <div class="divTableRow">
                <div class="divTableCell">(runner-name)</div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                        
            <div class="divTableRow">
                <div class="divTableCell">(runner-name)</div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                        
            <div class="divTableRow">
                <div class="divTableCell">(runner-name)</div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                        
            <div class="divTableRow">
                <div class="divTableCell">(runner-name)</div>
                <div class="divTableCell "><button>detail</button></div>
            </div>
                      
            <div class="divTableRow">
                <div class="divTableCell">(runner-name)</div>
                <div class="divTableCell"><button>detail</button></div>
            </div>
                  
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 border p-5">
        <p class="text-center">search box for client</p>
        <p class="text-center">search criteria</p>
        <p class="text-center">Inbox</p>
        <button class="text-center">
          <i class="fas fa-search"></i>   
        </button>
      </div>
      
    </div>
  </div>