<div class="container mt-5 p-5 border">
    <h2 class="text-center"></h2>
    <p class="text-center">Avtive Job Request</p>
    <div class="row">
  
        <div class="col-sm-12">
                    
            <div class="divTable">
                <div class="divTableBody">
    
                    <div class="divTableRow">
                        <div class="divTableCell font-weight-bold">&nbsp;</div>
                        <div class="divTableCell font-weight-bold">&nbsp;</div>
                    </div>
        
                    <div class="divTableRow">
                        <div class="divTableCell">Item 1</div>
                        <div class="divTableCell">
                            <p>Client Hired</p> 
                        </div>
                        <div class="divTableCell"><button>detail</button></div>
                    </div>
                                
                    <div class="divTableRow">
                        <div class="divTableCell">Item 2</div>
                        <div class="divTableCell">
                            <p>Client Hired</p> 
                        </div>
                        <div class="divTableCell"><button>detail</button></div>
                    </div>
                                
                    <div class="divTableRow">
                        <div class="divTableCell">Item 3</div>
                        <div class="divTableCell">
                            <p>Client Hired</p> 
                        </div>
                        <div class="divTableCell"><button>detail</button></div>
                    </div>            
    
                </div>
            </div>
        </div>
</div>