<div class="container border mt-5 p-5">
    <h2 class="para text-center mb-5"><%= username %></h2>
    <div class="row">

        <div class="col-sm-6">
            <h3 class="para text-center mb-5">User's Detail</h3>
            <p class="text-center">User's Detail</p>
            <p class="text-center">User's Detail</p>
            <p class="text-center">User's Detail</p>
        </div>

        <div class="col-sm-6">
            <h3 class="para text-center mb-5"></h3>
            <p class="text-center">Delivery Request to runner: 10 Request</p>
            <p class="text-center">Delivery Request to runner: 10 Request</p>
        </div>
    </div>
</div>