html, body{
    height: 100%;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

section{
    padding: 10%;
}

footer{
    background-color:#ebedee;
    color:  #e64525;
    font-weight: bold;
}
  
.fill{ 
    width: 100%;
    min-height: 100%;
    height: 100%;
}

#deli2, #deli3, #run{
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#admin{
    color:  #fff;
}

/*---------------------------------------
    Style for Home Background - Start
-----------------------------------------*/
#home{
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url("../img/deliveryman1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    display: block;
    color: azure;
}
/*---------------------------------------
    Style for Home Background - End
-----------------------------------------*/

/*--------------------------------
    Style for Navigation - Start
--------------------------------*/
/*Change the colour of the active nav link*/
.navbar-nav a.nav-link.active{
    color: #e64525 !important;
}

textarea{
    max-height: 800px;
}

.title{
    font-size: 50px;
    color:  #152b32;
    font-style: italic;
}

.title1{
    color:  #e64525;
    font-style: italic;
    font-size: 28px;
}

#rh-logo{
    font-style: italic;
    font-weight: bold;
    color: #152b32;
}

.headings{
    font-size: 50px;
    font-weight: bold;
    color: #152b32;
}

.headings-cont{
    font-size: 50px;
    font-weight: bold;
    color: #e36e25;
}

#login{
    width: 120px;
    margin-left: 5px;
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#login:hover{
    width: 120px;
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}

#logout{
    width: 120px;
    margin-left: 5px;
    color:  #fff;
    background-color: #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#logout:hover{
    width: 120px;
    margin-left: 5px;
    color:  #e64525;
    border: 2px solid #e64525;
    background-color: #fff;
    border-radius: 15px;
}

#signup{
    width: 120px;
    margin-left: 5px;
    color:  #fff;
    background-color: #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#signup:hover{
    width: 120px;
    margin-left: 5px;
    color:  #e64525;
    border: 2px solid #e64525;
    background-color: #fff;
    border-radius: 15px;
}

#ul-main{
    list-style-type: none;
}

.para{
    padding: 5px 0;
    color: #e64525;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    /*border: 2px solid #000;*/
}

#para-1{
    font-weight: bold;
}

#para-runner{
    font-style: italic;
    color: #152b32;
    font-size: 20px;
}
/*--------------------------------
    Style for Navigation - End
--------------------------------*/

/*--------------------------------
    Style for Service - Start
--------------------------------*/
#service, #faq {
    background-color: #ebedee;
}

.serviceAnimate {
    transition: 0.5s all ease-in-out;
}

.serviceAnimate:hover {
    transform: scale(1.5);
}
/*--------------------------------
    Style for Service - End
--------------------------------*/

/*--------------------------------
    Style for Runner - Start
--------------------------------*/
#signup-btn{
    background-color: #e36e25;
    border: 2px solid #e36e25;
}
/*--------------------------------
    Style for Runner - End
--------------------------------*/

/*--------------------------------
    Style for FAQ - Start
--------------------------------*/
.paraFaqs {
    color: #e64525;
    font-size: 20px;
    font-weight: bold;
}

.btnToggle {
    cursor: pointer;
}
/*--------------------------------
    Style for FAQ - End
--------------------------------*/

/*--------------------------------
    Style for Contact - Start
--------------------------------*/
.sub-ticket{
    font-style: italic;
}

.form-ticket{
    padding: 15px 9px;
    /*border: 2px solid #fcda7b;*/
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------------
    Style for Contact - End
--------------------------------*/

/*--------------------------------
    Style for Table - Start
--------------------------------*/
.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
    font-size: larger;
}

.divTableBody {
	display: table-row-group;
}
/*--------------------------------
    Style for Table - End
--------------------------------*/

#toTopBtn {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: opacity 0.3s ease-in-out;
    font-size: 18px;
    outline: none;
    background-color: #e64525;
    padding: 5px 20px;
}

#toTopBtn:focus {
    box-shadow: none;
}

/*-------------------------------------------
    Style for Nav [Runner/Client] - Start
-------------------------------------------*/
.detail-btn{
    color:  #fff;
    background-color: #e64525;
    border: 2px solid #e64525;
}

.detail-btn:hover{
    color:  #e64525;
    border: 2px solid #e64525;
    background-color: #fff;
}
/*-----------------------------------------
    Style for Nav [Runner/Client] - End
-----------------------------------------*/

/*------------------------------------------------
    Style for Detail btn [Runner/Client] - Start
-------------------------------------------------*/
#exampleModalLabel{
    font-style: italic;
    color: #e36e25;
}
/*------------------------------------------------
    Style for Detail btn [Runner/Client] - End
-------------------------------------------------*/

/*------------------------------------------------
    Style for Registration Button [Runner/Client] - Start
-------------------------------------------------*/
#userBck{
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#userBck:hover{
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}

#userReg{
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#userReg:hover{
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}

#runBck{
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#runBck:hover{
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}

#runReg{
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#runReg:hover{
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}

#validate{
    width: 120px;
    margin-left: 5px;
    margin:auto;
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#validate:hover{
    width: 120px;
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}
/*------------------------------------------------
    Style for Registration Button [Runner/Client] - End
-------------------------------------------------*/

/*------------------------------------------------
    Style validation form - Start
-------------------------------------------------*/
#passwordMessage {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#passwordMessage p {
    padding: 10px 35px;
    font-size: 16px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
/*------------------------------------------------
    Style validation form - End
-------------------------------------------------*/

/*------------------------------------------------
    Style Runner Interface - Start
-------------------------------------------------*/
#edit{
    float: right;
    color:  #e64525;
    border: 2px solid #e64525;
    border-radius: 15px;
}

#edit:hover{
    color:  #fff;
    border: 2px solid #e64525;
    background-color: #e64525;
    border-radius: 15px;
}
/*------------------------------------------------
    Style Runner Interface - End
-------------------------------------------------*/

/*------------------------------------------------
    Style for Make a Request - Start
-------------------------------------------------*/
/* Changing the open form request colour */
#open_request_form{
    background-color: #152b32;
    border-radius: 20px;
    color: #fff;
}
/*------------------------------------------------
    Style for Make a Request - End
-------------------------------------------------*/

/*------------------------------------------------
    Style for User's Profile - Start
-------------------------------------------------*/

/*------------------------------------------------
    Style for User's Profile - End
-------------------------------------------------*/